        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Fejléc */
        header {
            background-color: lightgray;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: #777;
            margin-bottom: 0;
        }

        /* Menü lista */
        nav ul {
            list-style-type: none;
            padding: 0;
        }

        /* Blokkok */
        article {
            padding: 20px;
            background-color: #f1f1f1;
            height: 500px;
        }

        .bal{
            float: left;
            width: 30%;
        }

        .jobb{
            float: right;
            width: 70%;
        }

        /* Úsztatások törlése */
        section::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Lábléc */
        footer {
            background-color: #777;
            padding: 15px;
            height: 60px;
            text-align: center;
            color: white;
        }

        /* Responsive layout - kis képernyőnél az oszlopok egymás alá kerülnek */
        @media (max-width: 600px) {

            nav,
            article {
                width: 100%;
                height: auto;
            }
        }
    