body{
    background-image: url(háttér.jpg);
    background-size: cover; 
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 240px;
    margin-right: 240px;
    color: #004400;
}
.kép{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
}
p{
    text-align: center;
}
h1, h2{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}
.közép, .közép2{
    text-align: center;
}
.jobb{
    text-align: right;
}
.táb, .jobb, .közép, .közép2 {
    border: 2px solid black;
  }
.jobb, .közép, .közép2{
    padding: 8px;
}
hr{
    background-color:#004400;
    block-size: 4px;
}
div{
    font-size: large;
}
.kép2{
    float: right;
    content:url(haz1.jpg);
    width: 150px;
    height: 120px;
}
.kép3{
    float: right;
    content:url(haz2.jpg);
    width: 150px;
    height: 120px;
}
.kép4{
    float: right;
    content:url(haz3.jpg);
    width: 150px;
    height: 120px;
}
.kép5{
    float: right;
    content:url(haz4.jpg);
    width: 150px;
    height: 120px;
}
.gif{
    content: url(kirandulas.gif);
    float: right;
    width: 160px;
}
a:link {
    color: #007700;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: #007700;
    background-color: transparent;
    text-decoration: none;
  }
.közép2{
    width: 120px;
}
.email:link{
    
}